{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb", "eslint:recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
    "rules": {
      "comma-dangle": "off",
      "consistent-return": "error",
      "curly": [
        "error",
        "multi-line"
      ],
      "eol-last": "warn",
      "import/extensions": "error",
      "import/no-extraneous-dependencies": "off",
      "import/no-named-as-default": "off",
      "import/no-unresolved": [
        "error",
        {
          "commonjs": true
        }
      ],
      "max-len": ["error", 80, 2],
      "new-cap": "error",
      "no-param-reassign": "off",
      "no-shadow": [
        "error",
        {
          "allow": ["req", "res", "err"]
        }
      ],
      "no-trailing-spaces": "warn",      
      "no-underscore-dangle": "error",
      "one-var": "off",
      "one-var-declaration-per-line": "off",
      "prefer-const": "warn",
      "quotes": ["error", "single"],
      "require-jsdoc": [
        "error",
        {
          "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true
          }
        }
      ],
      "semi": ["error", "always"],
      "valid-jsdoc": [
        "error",
        {
          "requireReturn": true,
          "requireReturnType": true,
          "requireParamDescription": false,
          "requireReturnDescription": true
        }
      ]
    }
}
